@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.contributions_intro_image{
  max-height: 30rem;
  max-width: 30rem;
  border-radius: 3%;
}

.p {
  font-family: 'Fira Sans', sans-serif !important;
}

.contributions_intro_image{
  max-height: 30rem;
  max-width: 30rem;
  border-radius: 3%;
}


h5 {
  color: blue;
  size: 16pt;
  font-weight: 500;
}

.react-loading-skeleton {
 margin-left: 1rem;
}
